.Midivision{

    border: rgba(241, 158, 3, 0.623) double 3px;
    width: 200px;
    margin: 0 auto;
    
   background: rgb(241, 205, 139);

}
.inputText{
    width: 100px;
    margin: 20px;
    font-size: 40px;
    margin-right:0 auto;
    text-align: center  ;
}
.mybutton{
    margin: 20px;
    background-color: rgba(214, 141, 82, 0.726);
    border: solid 1px grey outset;
    width: 150px ;
    height: 30px;
}
.miboton{
    margin: 20px;
    background-color: rgba(240, 126, 32, 0.76);
    border: solid 1px grey groove;
    width: 150px;
    height: 30px;
}
#resultadosuma{
    font-size: 50px;
    color: red;
    margin: 0 auto;
    width: 100px;
    font-family: fantasy serif;
    text-decoration:underline;
    text-transform:lowercase; 
    
}
#resultadosresta{
    font-size: 50px;
    color: royalblue;
    margin: 0 auto;
    width: 100px;
    font-family: cursive 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform:capitalize; 
}